#contacts {
  background-color: #171819;
  display: flex;
  justify-content: space-between;
}

.contacts__h2 {
  margin-right: 70px;
  font-family: "OpenSans" sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ffffff;
}

.form {
  display: flex;
  justify-content: end;
  align-items: center;
}

.form__input {
  background-color: #ffffff;
  border: 0;
  font-family: "OpenSans" sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #48555b;
  padding: 11px 98px 10px 16px;
}

.button {
  background-color: #00a4e5;
  font-family: "OpenSans-Bold";
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  padding: 11px 49px;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  color: #48555b;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .form {
    margin-top: 5px;
  }
  .form__input {
    padding: 6px 48px 5px 8px;
  }
  .button {
    padding: 6px 25px 8px;
    border: 0;
  }
}

@media (max-width: 425px) {
  .form {
    flex-direction: column;
    gap: 10px;
  }
  .contacts__h2 {
    display: block;
    margin: 0 auto;
  }
}
