header {
  background-color: #3a4f63;
  background-image: url("../images/bg.jpg");
  background-position: center;
  padding: 42px 71px;
}
.header__logo {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: 307px;
  text-align: center;
  font-family: "Bebas", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
}
.header__subtitle {
  text-align: center;
  color: #ffffff;
  font-family: "OpenSans-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.header__a {
  display: block;
  margin-top: 221px;
  text-align: center;
  letter-spacing: 4px;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}
