.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  margin-right: 39px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #48555b;
  transition: 0.2s;
}

.nav__link:hover {
  color: #00a4e5;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .main__nav {
    padding: 0 30px;
  }
}

@media (max-width: 425px) {
  .main__nav {
    display: none;
  }
}
